<div class="mb-3 d-flex flex-wrap gap-1">
  <% [Game::SPECIAL_LETTER, *Game::LETTERS].each do |letter| %>
    <% if @console.available_letter_filters.include?(letter) %>
      <button
        type="button"
        class="letter btn btn-sm btn-outline-primary"
        data-action="click->game-collection#filterByLetter"
        data-game-collection-letter-param="<%= letter %>">
        <%= letter %>
      </button>
    <% else %>
      <button type="button" class="letter btn btn-sm btn-light" disabled><%= letter %></button>
    <% end %>
  <% end %>
</div>
