---
layout: base
---

<%= render Shared::Navbar.new(pages: collections.nav_pages.resources) %>

<main class="is-flex-grow-1">
  <section class="section">

    <h1 class="title"><%= data.title %></h1>
    <% if data.subtitle.present? %>
      <h2 class="subtitle"><%= data.subtitle %></h2>
    <% end %>

    <%= yield %>
  </section>
</main>
