---
layout: base
---

<div class="is-flex is-flex-direction-column is-justify-content-flex-end">
  <main class="is-flex-grow-1">
    <%= yield %>
  </main>

  <%= render "footer", metadata: site.metadata %>
</div>
