---
layout: section
---

<div
  id="<%= "#{resource.model.slug}-gallery" %>"
  class="d-flex flex-wrap justify-content-start gap-2"
  data-controller="photos">
  <% resource.model.photos_with_paths.each do |photo| %>
    <div class="d-flex align-items-center">
      <a href="<%= photo[:path] %>">
        <img class="event-photo" src="<%= photo[:thumbnail_path] %>" alt="<%= photo[:name] %>">
      </a>
    </div>
  <% end %>
</div>
