---
layout: base
---

<%= slotted :breadcrumb %>

<h1 class="fs-2"><%= data.section_title || data.title %></h1>
<% subtitle = data.section_title.present? ? data.title : data.subtitle %>
<% if subtitle.present? %>
  <p class="lead"><%= subtitle %></p>
<% end %>

<hr>

<%= yield %>


