---
layout: base
---

<section class="section">

  <h1 class="title"><%= data.title %></h1>
  <% if data.subtitle.present? %>
    <h2 class="subtitle"><%= data.subtitle %></h2>
  <% end %>

  <%= yield %>
</section>


