---
layout: section
title: Mentions légales
---

<div class="wide-section text-justify">
  <p>Le site <a href="https://www.retrosmash.fr">www.retrosmash.fr</a> est édité par l'association
  <b>Retrosmash</b>, identifiée par le <strong>numéro SIRET 84313808200014</strong> et dont le siège
  social est situé <strong>LIEU-DIT FONCABALINQUE, 24140 CAMPSEGRET, FRANCE</strong>. L'association
  est joignable par email à l'adresse <a href="mailto:retrosmash24@yahoo.fr">retrosmash24@yahoo.fr</a>.
  Son directeur de publication est <strong>M. Thomas Victorien-Demet</strong>, président de
  l'association.</p>

  <p>Le site est hébergé par l'entreprise <strong>GitHub, Inc.</strong>, située au <strong>88 Colin
  P. Kelly Jr. St. San Francisco, CA 94107 États-Unis</strong>, et joignable par téléphone au
  </strong>+1 877-448-4820</strong>.
</div>
