.console-summary-card {
  width: 16rem;

  &__image {
    max-height: 8rem;
    object-fit: contain;
  }
}

.letter {
  font-size: 0.7rem;
}

.game-card {
  width: 14rem;

  &__image {
    &--dreamcast {
      aspect-ratio: 1 / 1;
    }

    &--gamecube {
      aspect-ratio: 72 / 100;
    }

    &--master-system {
      aspect-ratio: 72 / 100;
    }

    &--nes {
      aspect-ratio: 72 / 100;
    }

    &--nintendo-64 {
      aspect-ratio: 143 / 100;
    }

    &--playstation-1 {
      aspect-ratio: 1 / 1;
    }

    &--playstation-4 {
      aspect-ratio: 80 / 100;
    }

    &--playstation-5 {
      aspect-ratio: 80 / 100;
    }

    &--super-nintendo {
      aspect-ratio: 143 / 100;
    }

    &--switch {
      aspect-ratio: 67 / 100;
    }

    &--switch-2 {
      aspect-ratio: 67 / 100;
    }

    &--wii {
      aspect-ratio: 72 / 100;
    }

    &--wii-u {
      aspect-ratio: 72 / 100;
    }

    &--xbox {
      aspect-ratio: 80 / 100;
    }

    &--xbox-one {
      aspect-ratio: 80 / 100;
    }
  }
}

