.console-summary-card {
  width: 16rem;

  &__image {
    max-height: 8rem;
    object-fit: contain;
  }
}

.letter {
  font-size: 0.7rem;
}

.game-card {
  width: 14rem;

  &__image {
    &--square {
      aspect-ratio: 1 / 1;
    }
  }
}

