@use "../bulma";

$custom-navbar-height: 10rem; // so the logo is more visible

.navbar {
  &--nav-page {
    min-height: $custom-navbar-height;

    .navbar-item {
      img {
        max-height: $custom-navbar-height - (bulma.$navbar-padding-vertical * 2);
      }

      .icon-text {
        .text {
          border-bottom: medium solid bulma.$yellow;
        }
      }

      &--active {
        .icon-text {
          .text {
            border-bottom: medium solid bulma.$red;
          }
        }
      }
    }

    &:hover {
      .navbar-item {
        .icon-text {
          .text {
            border-bottom: medium solid bulma.$yellow;
          }
        }
  
        &:hover {
          .icon-text {
            .text {
              border-bottom: medium solid bulma.$red;
            }
          }
        }
      }
    }
  }
}

.form-iframe {
  border: none;
  border-radius: bulma.$card-radius;
  box-shadow: bulma.$card-shadow;
}
