---
layout: base
---

<div class="row">
  <div class="col-12 col-md-8">
    <div class="d-flex justify-content-start align-items-center h-100">
      <div>
        <p class="display-3 text-primary fw-bold">
          Retrosmash
        </p>
        <p class="display-5">
          L'asso jeux vidéo et jeux de société en Dordogne
        </p>
      </div>
    </div>
  </div>

  <% upcoming = false %>
  <div class="col-12 col-md-4">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card upcoming-flyer">
        <img
          src="<%= site.data.current_event['flyer_path'] %>"
          class="card-img-top"
          alt="<%= site.data.current_event['name'] %>">
        <div class="card-body">
          <h5 class="card-title text-danger">
            <% icon = upcoming ? 'bi-bell-fill' : 'bi-clock-history' %>
            <i class="<%= class_names('bi', icon, 'me-1') %>"></i>
            <%= upcoming ? 'Prochainement' : 'Précédemment' %>
          </h5>
          <% if upcoming %>
            <p class="card-text">À vos agendas !</p>
            <a href="tournament-registration" class="btn btn-primary">
              <i class="bi-trophy-fill text-warning me-2"></i>
              S'inscrire
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


