---
layout: base
---

<div class="card">
  <header class="card-header">
    <p class="card-header-title icon-text has-text-primary">
      <span class="icon">
        <span class="material-symbols-outlined">event</span>
      </span>
      <span>Prochainement</span>
    </p>
  </header>
  <div class="card-image">
    <figure class="image">
      <img src="<%= asset_path 'images/flyers/test.jpg' %>">
    </figure>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item icon-text has-text-link" href="<%= relative_url '/tournament-registration/' %>">
      <span class="icon">
        <span class="material-symbols-outlined">trophy</span>
      </span>
      <span>S'inscrire</span>
    </a>
  </footer>
</div>
