---
layout: base
---

<div class="row">
  <div class="col-8">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div>
        <p class="display-3">
          Jeux vidéos et jeux de société en Dordogne
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lectus suscipit, lacinia ante at, tincidunt est. In vulputate dapibus sapien vulputate eleifend. Quisque vitae ornare purus. Donec sit amet nibh quam. Vestibulum a imperdiet lectus. Quisque non elementum neque, in aliquam est.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card upcoming-flyer">
        <img src="<%= asset_path 'images/flyers/test.jpg' %>" class="card-img-top" alt="kawaii festival">
        <div class="card-body">
          <h5 class="card-title text-danger">
            <i class="bi-bell-fill me-1"></i>
            Prochainement
          </h5>
          <p class="card-text">À vos agendas !</p>
          <a href="/tournament-registration" class="btn btn-primary">
            <i class="bi-trophy-fill text-warning me-2"></i>
            S'inscrire
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


