---
layout: home
---

<img class="home-logo mb-6" src="<%= relative_url '/images/logo.png' %>" alt="Logo" />
<a class="button is-large is-link" href="<%= relative_url '/tournament-registration' %>">Entrer</a>

