---
layout: base
---

<div class="row">
  <div class="col-8">
    <div class="d-flex justify-content-start align-items-center h-100">
      <p class="display-3">
        L'asso jeux vidéo et jeux de société en Dordogne
      </p>
    </div>
  </div>

  <div class="col">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card upcoming-flyer">
        <img
          src="<%= site.data.current_event['flyer_path'] %>"
          class="card-img-top"
          alt="<%= site.data.current_event['name'] %>">
        <div class="card-body">
          <h5 class="card-title text-danger">
            <i class="bi-bell-fill me-1"></i>
            Prochainement
          </h5>
          <p class="card-text">À vos agendas !</p>
          <a href="tournament-registration" class="btn btn-primary">
            <i class="bi-trophy-fill text-warning me-2"></i>
            S'inscrire
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


