---
layout: page
title: Inscription au tournoi
---

<div class="title-separator my-4"></div>
<iframe class="form-iframe" src="https://framaforms.org/tournoi-du-01012025-1734279615" width="100%" height="800"></iframe>
